:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

#header {
  padding-left: 1%;
  padding-right: 2%;
  border-bottom: 1px;
  color: #FDF2EB;
  background-color: #065750;
  display: flex;
  align-items: center;
  position: fixed;
  overflow: hidden;
  top: 0;
  width: 100%;
  height: 80px;
}

.nutriname {
  height: 100px;
  line-height: 100px;
  display: inline;
  text-align: center;
}

.header-title{
  display: inline;
}

.logo-img {
  height: 100%;
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
  margin-right: 10px;
  display: inline;
}

.home-page {
  padding: 0;
  margin: 0;
  max-width: 1440px;
  min-width: 500px;
  height: 100%;
  border: #065750;
  background-color: #FDF2EB;
}

#about-section {
  padding-block: 80px;
  padding-inline: 20px;
  text-align: center;
  color: #065750;
}

#appointment-button {
  background-color: #065750;
  color: #FDF2EB;
  border-radius: 15px;
}

#specialization-section {
  padding: 40px;
  padding-inline: 20px;
  background-image: url('./src/assets/home/transition1.svg') ;
}

#specialization-section h1 {
  margin: 0;
}

#blog-header {
  padding-top: 0px;
  padding-inline: 20px;
  text-align: center;
  background-color: #065750;
  color: #FDF2EB;
}

#detail {
  max-width: 1000px;
  padding-top: 80px;
  background-color: #FDF2EB;
}

.tipo-atendimento {
  max-width: 100%;
  min-width: 200px;
}

#blog-transition {
  padding-inline: 20px;
  background-image: url('./src/assets/home/transition2.svg');
}

#green-section{
  overflow: hidden;
  background-image: url('./src/assets/home/green-food.svg');
}

#footer{
  overflow: visible;
  background-image: url('./src/assets/home/footer.svg');
}